@charset "UTF-8";
._a-h2 {
  font-family: "Museo500Regular", Times New Roman, serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  text-align: center; }

._a-m_1 {
  padding-top: 60px;
  padding-bottom: 60px; }

._a-m_2 {
  padding-top: 100px; }

._a-h2 + .v-portfolio-wrap {
  margin-top: 40px; }

._a-h2 + .fw-map-wrapper {
  margin-top: 50px; }

._a5 + .article-body-wrap {
  margin-top: 40px; }

.clearfix::after,
.clearfix_before {
  content: " ";
  display: table;
  clear: both; }

.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.invisible {
  visibility: hidden; }

.hidden {
  display: none !important; }

.height_100,
.h_100 {
  height: 100%; }

.w_100 {
  width: 100%; }

.flex_yes {
  flex: 1; }

.flex_right {
  margin-left: auto; }

.flex_none {
  flex: none; }

.flex_c-l {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.flex_c {
  justify-content: center; }

.float_right {
  float: right; }

.pos_abs {
  position: absolute; }

.pos_rel {
  position: relative; }

.br_xs, .br_md, .br_lg, .br_mg, .br_lg_down, .br_xs_up, .br_md_up, .br_lg_up, .br_mg_up {
  display: none;
  visibility: hidden; }
  .br_xs:before, .br_md:before, .br_lg:before, .br_mg:before, .br_lg_down:before, .br_xs_up:before, .br_md_up:before, .br_lg_up:before, .br_mg_up:before {
    content: '\A';
    white-space: pre;
    color: transparent; }

.m-x_0 {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.m-x_auto {
  margin-left: auto;
  margin-right: auto; }

.bg-pos_c {
  background-position: center center; }
  .bg-pos_c-b {
    background-position: center bottom; }
  .bg-pos_c-t {
    background-position: center top; }

.img_x-100 {
  width: 100%;
  height: auto; }

/*Custom Size*/
@media (min-width: 1200px) {
  .container {
    width: 1100px; } }

.v-heading-v2 span,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.widget .tagcloud a:hover,
.widget ul.wp-tag-cloud li:hover > a,
.widget.v-photo-stream-widget li,
.v-bg-stylish.v-bg-stylish-v10,
.v-bg-stylish-v10.v-full-width-text:after,
.v-parallax .v-bg-overlay.overlay-colored,
.recent-post figure,
header div.search .btn-primary:hover,
header div.search .btn-primary,
header ul.nav-pills > li > a:hover,
.portfolio-grid li,
.feature-box-icon:hover,
.sf-hover .feature-box-icon,
.feature-box[class*="feature-box-secundary-"] .feature-box-icon,
.sf-hover .feature-box-line,
.pricing-column.highlight h3,
span.highlighted,
span.dropcap4,
.progress-bar-primary,
.v-process-steps .feature-box-icon:hover {
  background-color: #3799ef; }

.v-color,
div.v-color,
.v-link,
a:hover,
.carousel-wrap > a:hover,
#back-to-top:hover,
.v-pagination a:hover,
.sidebar .v-category-widget ul > li a:hover,
.sidebar .v-archive-widget ul > li a:hover,
.sidebar .v-nav-menu-widget ul > li a:hover,
.v-nav-menu-widget ul > li.current-menu-item a,
.sidebar .v-meta-data-widget ul > li a:hover,
.sidebar .v-recent-entry-widget ul > li a:hover,
.list-toggle:after,
.v-right-sidebar-inner > .active > a,
.v-right-sidebar-inner > .active > a:focus,
.v-right-sidebar-inner > .active > a:hover,
footer a:hover,
.copyright a:hover,
.read-more i:before,
.read-more em:before,
.item-link:hover,
.search-item-meta-down a,
.search-item-meta a,
.v-search-items .star-vote li,
.v-blog-item-details a:hover,
.author-link,
.v-blog-item .read-more,
.article-body-wrap .share-links a:hover,
.post-header .post-meta-info a:hover,
.post-content h2.title a:hover,
.recent-post .post-item-details a:hover,
a.current-menu-item,
header nav ul.nav-main ul.dropdown-menu > li > a:hover,
header nav ul.nav-main li a:hover,
header nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu a:hover,
header nav ul.nav-main li.dropdown.active > a i.fa-caret-down,
header ul.nav-pills > li.active > a,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
header nav ul.nav-main li.dropdown:hover > a i.fa-caret-down,
.slideout-filter ul li a:hover,
.v-portfolio-item .v-portfolio-item-permalink, .read-more-link,
.share-links > a:hover,
.comments-likes a:hover i,
.comments-likes a:hover span,
.comments-likes a:hover span, .comments-likes a:hover i,
.portfolio-pagination div:hover > i,
.v-icon,
.pricing-column ul li i.fa,
.pricing-column h3,
.v-divider.v-up a,
span.dropcap2,
.v-list li i,
.v-list-v2 li i,
.media-body .reply-link:hover {
  color: #3799ef; }

a.current {
  color: #3799ef !important; }

.v-container {
  padding-top: 70px !important;
  padding-bottom: 70px !important; }

.v-pagination li a:hover,
ul.bar-styling li:not(.selected) > a:hover,
ul.bar-styling li > .comments-likes:hover,
ul.page-numbers li > a:hover,
ul.page-numbers li > span.current,
a.text-link,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.pagination > li:not(.active) > a:hover,
.pagination > li:not(.active) > span:hover,
.read-more,
.logged-in-as a,
.comment-meta-actions .edit-link,
.comment-meta-actions .comment-reply,
.media-body .reply-link,
.v-bg-stylish-v10.v-full-width-text:after,
.v-blog-item-details a,
header div.search .btn-primary:hover,
header div.search .btn-primary,
.testimonial.testimonial-thumb-side .testimonial-author .featured-thumbnail,
.v-clients-wrap .owl-carousel .owl-item figure:hover,
blockquote.pullquote {
  border-color: #3799ef; }

.signup,
header nav ul.nav-main ul.dropdown-menu,
header nav.mega-menu ul.nav-main li.mega-menu-item ul.dropdown-menu,
.v-tagline-box-v1 {
  border-top-color: #3799ef; }

.v-heading-v2 h2, .v-heading-v2 h3, .v-heading-v2 h4,
.v-link:hover,
.v-search-items a:hover,
.post-info a,
.tags-wrap .tags a,
.v-team-member-box .read-more:hover,
.v-tweets-slide-widget .tweet-text a {
  border-bottom-color: #3799ef; }

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus,
.sidebar .v-nav-menu-widget ul > li.active,
.v-control-right .v-smash-text-wrap,
.author-info-wrap,
.testimonial.testimonial-thumb-side .testimonial-author .featured-thumbnail:after,
blockquote.hero,
.v-tagline-box-v2 {
  border-left-color: #3799ef; }

figure:hover .overlay {
  box-shadow: inset 0 0 0 500px #3799ef; }

.v-pagination li a:hover,
ul.bar-styling li:not(.selected) > a:hover,
ul.bar-styling li > .comments-likes:hover,
ul.page-numbers li > a:hover,
ul.page-numbers li > span.current,
.pagination > li:not(.active) > a:hover,
.pagination > li:not(.active) > span:hover,
.slideout-filter ul li.selected a,
.btn.v-btn.v-btn-default {
  background: #3799ef; }

h2.v-bg-box-shadow-text-50 {
  margin-top: 25px;
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 8px 0 0 rgba(0, 0, 0, 0.3), -8px 0 0 rgba(0, 0, 0, 0.3);
  color: #ffffff !important;
  font-weight: 300;
  font-size: 50px;
  line-height: 50px;
  padding: 10px; }

h2.v-bg-box-shadow-text-40 {
  margin-top: 0px;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 8px 0 0 rgba(0, 0, 0, 0.3), -8px 0 0 rgba(0, 0, 0, 0.3);
  color: #ffffff !important;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  padding: 10px; }

.ui-widget-content a {
  color: #333333; }

.ui-widget-content a:hover {
  color: #1dc6df; }

.v-custom-heading {
  display: block;
  font-family: "Droid Serif", Georgia, Times, serif;
  font-weight: normal;
  font-style: italic;
  float: none;
  color: #333; }

.special_amp {
  font-family: "Baskerville", "Palatino Linotype", "Palatino", "Times New Roman", serif;
  font-style: italic;
  font-size: 1.3em;
  line-height: 0.5em;
  font-weight: normal;
  color: #3799ef; }

._a-top-line {
  box-sizing: border-box;
  min-height: 40px;
  background: #252525;
  padding-top: 6px;
  padding-bottom: 6px; }
  ._a-top-line__item {
    display: block; }
    ._a-top-line__item:before {
      content: " "; }
    @media (min-width: 720px) {
      ._a-top-line__item_right {
        text-align: right; } }
  ._a-top-line__icon {
    display: inline-block; }
  ._a-top-line__text {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: #ffffff; }
    ._a-top-line__text_sm {
      font-size: 11px;
      color: #8b8b8b; }
  ._a-top-line_col {
    margin-bottom: 0; }
  ._a-top-line .fa {
    color: #aaaaaa; }

._a-news {
  padding-right: 40px; }
  ._a-news__title {
    display: inline-block;
    font-family: "Museo500Regular", Times New Roman, serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #000000; }
  ._a-news__item {
    padding-bottom: 6px;
    border-bottom: 1px solid #ebebeb; }
  ._a-news__text {
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: #000000; }
  ._a-news__action {
    float: right;
    text-decoration: underline !important; }
    ._a-news__action, ._a-news__action:visited {
      color: #0a62b0; }
    ._a-news__action .fa {
      margin-right: 5px; }
  ._a-news__date {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.2;
    color: #999999; }
  ._a-news__text + ._a-news__date {
    margin-top: 5px; }
  ._a-news__header + ._a-news__item {
    margin-top: 30px; }
  ._a-news__item + ._a-news__item {
    margin-top: 35px; }

._a-events {
  padding-right: 40px; }
  ._a-events__title {
    display: inline-block;
    font-family: "Museo500Regular", Times New Roman, serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #000000; }
  ._a-events__item {
    padding-bottom: 6px;
    border-bottom: 1px solid #ebebeb; }
  ._a-events__img {
    float: left;
    width: 84px;
    height: 54px;
    margin-right: 30px; }
  ._a-events__text {
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: #000000; }
  ._a-events__date {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.2;
    color: #999999; }
  ._a-events__text + ._a-events__date {
    margin-top: 5px; }
  ._a-events__header + ._a-events__item {
    margin-top: 30px; }
  ._a-events__item + ._a-events__item {
    margin-top: 35px; }
  ._a-events_main {
    padding-top: 60px; }

._a-banner {
  position: relative;
  font-size: 16px;
  background-size: cover;
  background-position: center bottom;
  padding-top: 120px;
  padding-bottom: 85px;
  text-align: center; }
  ._a-banner__container {
    position: relative;
    z-index: 1; }
  ._a-banner__heading {
    margin-bottom: 0;
    font-family: "Museo500Regular", Times New Roman, serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.125;
    text-align: center;
    color: #ffffff; }
  ._a-banner-list {
    padding: 0;
    margin-bottom: 0;
    display: block;
    max-width: 490px;
    margin-left: auto;
    margin-right: auto; }
    ._a-banner-list__item {
      font-family: "Museo500Regular", Times New Roman, serif;
      font-weight: 500;
      display: inline-block;
      font-size: 24px;
      line-height: 1.2;
      color: #ffffff; }
      ._a-banner-list__item:before {
        content: "•";
        margin-right: 0.2em; }
  ._a-banner-button {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 26px;
    padding-left: 27px;
    padding-right: 27px;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.2;
    border: 2px solid #ffffff;
    transition: all 0.2s ease-in-out; }
    ._a-banner-button:hover {
      border-color: #3799ef; }
    ._a-banner-button__icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px; }
    ._a-banner-button__text {
      display: inline-block;
      vertical-align: middle;
      margin-top: 11px;
      margin-bottom: 11px;
      font-family: "Museo500Regular", Times New Roman, serif;
      font-weight: 500;
      font-size: 24px; }
  ._a-banner__heading + ._a-banner-list {
    margin-top: 80px; }
  ._a-banner-list + ._a-banner-button {
    margin-top: 70px; }

._a1-list__item {
  color: #666666;
  line-height: 1.5; }
  ._a1-list__item:before {
    content: '\B7'; }

._a1__subtitle {
  color: #999999 !important; }

._a1__subtitle + ._a1-list {
  margin-top: 20px; }

._a1-list + ._a1__button {
  margin-top: 20px !important; }

._a2__heading {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Museo500Regular", Times New Roman, serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #000000; }

._a2__text {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto; }

._a2__heading + ._a2__text {
  margin-top: 40px; }

._a3__text {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #666666; }

._a3__text + ._a3__input {
  margin-top: 15px; }

._a3__input + ._a3__button {
  margin-top: 20px; }

._a4 .v-list li span {
  display: inline-block;
  vertical-align: top; }

._a5 {
  font-size: 12px;
  line-height: 1.2; }
  ._a5__text, ._a5__link {
    color: #999999; }
  ._a5__divider:before {
    content: "|"; }
  ._a5__divider + ._a5__link,
  ._a5__link + ._a5__divider,
  ._a5__divider + ._a5__text {
    margin-left: 6px; }

._a6 .datepicker {
  border: 0 !important;
  padding: 0;
  min-width: 0 !important; }

._a7__item {
  padding-left: 20px; }
  ._a7__item:before {
    content: "\2014";
    position: absolute;
    margin-left: -20px; }

._a7__item + ._a7__item {
  margin-top: 15px; }

.sidebar .v-category-widget ul > li a.active {
  font-weight: 600; }

.v-btn.v-second-info {
  background: #ffffff !important;
  border: solid 2px #3799ef;
  color: #3799ef !important;
  box-shadow: none;
  padding: 12px 25px 12px 25px !important; }

.v-btn.v-second-info:hover {
  background: #3799ef !important;
  color: #FFF !important;
  box-shadow: none; }

.v-team-member-name {
  font-size: 20px;
  line-height: 1.2; }

.v-team-member-statu {
  line-height: 1.5; }

.heading + .v-team-member-contacts {
  padding-top: 18px; }

.v-team-member-statu {
  min-height: 36px; }

.v-team-member-box .cover {
  background-color: #ffffff;
  text-align: center; }

.v-team-member-contacts {
  text-align: center; }
  .v-team-member-contacts span {
    display: block;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #7a7a7a; }
  .v-team-member-contacts:last-child {
    padding-bottom: 25px; }

.article-body-wrap p + .btn {
  margin-top: 35px; }

header nav ul.nav-main li a {
  font-family: "Open Sans" !important;
  font-weight: 600; }

header .nav > li > a {
  padding: 35px 23px; }
