.search-wrap {
	margin-top: 2rem;
}

#search {
	width: 100%;
	height: 41px;
}

.form-field {
	width: 100%;
	height: 41px;
	padding: 0 90px 0 10px;
}

.search-wrap .form-btn {
	float: right;
	margin-right: 0;
	margin-top: -41px;
	box-shadow: none;
	background-color: #337ab7;
}

.search-wrap .form-btn:hover {
	box-shadow: none;
}