.bx-user-info-shadow {
	background:url(/bitrix/components/bitrix/main.user.link/templates/.default/images/cloud-left-top.png) no-repeat; 
}

.bx-user-info-shadow-ie {
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/bitrix/components/bitrix/main.user.link/templates/.default/images/cloud-left-top.png', sizingMethod = 'crop' ); 
}
						
.bx-user-info-shadow-hv {
	background:url(/bitrix/components/bitrix/main.user.link/templates/.default/images/cloud-right-bottom.png) no-repeat;
	padding-top: 40px;
}

.bx-user-info-shadow-hv-ie {
	background:none; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/bitrix/components/bitrix/main.user.link/templates/.default/images/cloud-right-bottom.png', sizingMethod = 'crop' ); 
	padding-top: 40px;
}

.bx-user-info-shadow-h {
	background:url(/bitrix/components/bitrix/main.user.link/templates/.default/images/cloud-right-top.png) no-repeat; 
}			

.bx-user-info-shadow-h-ie {
	background:none; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/bitrix/components/bitrix/main.user.link/templates/.default/images/cloud-right-top.png', sizingMethod = 'crop' );
}

.bx-user-info-shadow-v {
	background:url(/bitrix/components/bitrix/main.user.link/templates/.default/images/cloud-left-bottom.png) no-repeat; 
	padding-top: 40px;
}	

.bx-user-info-shadow-v-ie {
	background:none; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/bitrix/components/bitrix/main.user.link/templates/.default/images/cloud-left-bottom.png', sizingMethod = 'crop' ); 
	padding-top: 40px;
}

.bx-user-info-shadow-anim {
}

.bx-user-info-shadow-anim-ie {
	background:url(/bitrix/components/bitrix/main.user.link/templates/.default/images/anim-cloud-left-top.gif) no-repeat; 
}

.bx-user-info-shadow-hv-anim {
}

.bx-user-info-shadow-hv-anim-ie {
	background:url(/bitrix/components/bitrix/main.user.link/templates/.default/images/anim-cloud-right-bottom.gif) no-repeat; 
	padding-top: 40px; 
}

.bx-user-info-shadow-h-anim {
}

.bx-user-info-shadow-h-anim-ie {
	background:url(/bitrix/components/bitrix/main.user.link/templates/.default/images/anim-cloud-right-top.gif) no-repeat; 
}

.bx-user-info-shadow-v-anim {
}
					
.bx-user-info-shadow-v-anim-ie {
	background:url(/bitrix/components/bitrix/main.user.link/templates/.default/images/anim-cloud-left-bottom.gif) no-repeat; 
	padding-top: 40px; 
}

.bx-user-info-shadow-v-ie6, .bx-user-info-shadow-hv-ie6, .bx-user-info-shadow-v-anim-ie6, .bx-user-info-shadow-hv-anim-ie6 {
}

.bx-user-info-data-photo img, div.bx-user-photo a.no-photo
{
	border: 1px solid #C4C4C4;
}

.bx-user-info-data{
 	padding-left: 137px;
}

.bx-user-info-data .bx-user-info-data-info {
	font-size: 0.85em;
}

.bx-user-info-data .bx-user-info-data-info .field-name{
	font-weight: normal;
}

.bx-user-info-data-loading {
	font-size: 0.85em;
	padding: 10px 0px 0px 40px;
}

.bx-user-info-leftcolumn {
	float: left;
	padding-left: 25px;  	
}

.bx-user-info-data-photo {
	display: block;
	margin-right: 12px;
	padding-top: 2px;
	height: 102px;
	width: 104px;
	text-align: center;
}

.bx-user-photo .no-photo{
	background-image: url(/bitrix/components/bitrix/main.user.link/templates/.default/images/nopic_user_100_noborder.gif);
	background-position: center center;
	background-repeat: no-repeat;
}

.bx-user-info-data  .bx-user-info-data-clear{
	clear: both;	
}

.bx-user-info-data  .bx-user-info-data-separator{
	background-color: #E0E0E0;
	width: 218px;
	height: 1px!important;
	margin-top: 5px;
	margin-bottom: 2px;
	padding: 0px!important;
	font-size: 0px!important;	
}

.bx-user-info-data  .bx-user-info-data-cont{
	overflow: auto; 
	overflow-x:auto;
	overflow-y:auto;
	height: 152px;
	width: 223px;
}

.bx-user-info-data .bx-user-info-data-cont-video {
	overflow: auto; 
	overflow-x:auto;
	overflow-y:auto;
	height: 147px; 
	width: 223px;
}


.bx-user-info-data-tools {
	padding: 0px 20px 0px 0px;
}

.bx-user-info-data .bx-user-info-data-cont .bx-user-info-data-name {
	margin-bottom: 10px;
}

.bx-user-info-data .bx-user-info-data-cont .bx-user-info-data-name-extranet {
	padding-left: 18px;
	background-image: url(/bitrix/components/bitrix/main.user.link/templates/.default/images/icon_extranet_user.gif);
	background-position: left center;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.bx-user-info-data .bx-user-info-data-cont  .bx-user-info-extranet {
	margin-bottom: 1px;
}

.bx-user-info-extranet {
	padding-left: 17px;
	position: relative;
}

.bx-user-info-extranet a {
	color: #d9930a;
}

.bx-user-info-extranet:before {
	background: url(/bitrix/components/bitrix/main.user.link/templates/.default/images/extranet-icon.png);
	content: '';
	left: 0;
	top: 5px;
	height: 13px;
	position: absolute;
	width: 13px;
}

.bx-user-info-extranet-description {
	color: #a3a3a3;
	font-size: 11px;
	margin:-2px 0 0 0;
}

.bx-user-info-data  .bx-user-info-data-cont .bx-user-info-data-name a {
	font-size: 1.2em; 
	font-weight: bold;
	text-decoration: none;
}

.bx-user-info-data  .bx-user-info-data-cont .bx-user-info-data-name a:hover {
	text-decoration: underline;
}

.bx-user-info-wrap {
	position:relative;
	padding-top: 40px;
	text-align: left;
	color: #000000;
}

/*  to catch onmouseover when padding*/
.bx-user-info-bottomarea {
	position:relative;
	overflow:auto;
	height: 35px;
	width: 370px;	
}

.bx-user-tb-control ul {
	list-style-image: none; 
	list-style-position: outside; 
	list-style-type: none; 
	margin: 0; 
	padding: 0px 0px 0px 0px;
	font-size: 0.85em;	
}

.bx-user-info-leftcolumn .bx-user-tb-control-left {
	width: 105px;
	height: 100px;	
}

.bx-user-tb-control ul li.bx-icon {
	padding-top: 6px;
	line-height: 12px; 
	color: #7f7f7f;
	display: block!important;
	padding-left: 22px!important;  
	background-image: url(/bitrix/components/bitrix/main.user.link/templates/.default/images/icons_all.png)!important;
	background-repeat: no-repeat!important;
}

.bx-user-tb-control-right ul li.bx-icon-message, .bx-user-tb-control-right ul li.bx-icon-video {
	line-height: 15px; 
}

.bx-user-tb-control .bx-icon-message{background-position: 0 3px;}
.bx-user-tb-control .bx-icon-online{background-position: 0 -20px;}
.bx-user-tb-control .bx-icon-away {
	background-position: 0 -57px; 
	line-height: 15px!important; 
}
.bx-user-tb-control .bx-icon-birth{background-position: 0 -87px;}
.bx-user-tb-control .bx-icon-featured{background-position: 0 -117px;}
.bx-user-tb-control .bx-icon-video{background-position: 0 -178px;}

li.bx-icon-message span, li.bx-icon-video span { cursor: pointer; text-decoration: none; }
li.bx-icon-message span.bx-icon-underline, li.bx-icon-video span.bx-icon-underline { cursor: pointer; text-decoration: underline; }
