.ms-overlay-layers-template .slide-pattern{
	background: url(pattern.png) scroll;
	width: 100%;
	height: 100%;
	z-index: 8;
	-webkit-transform: translateZ(0.4px);
	-moz-transform: translateZ(0.4px);
	-ms-transform: translateZ(0.4px);
	-o-transform: translateZ(0.4px);
	transform: translateZ(0.4px);
	position: absolute;
	top: 0;
}

.bold-text-white{
    color: #FFF;
    font-weight: 600;
    font-size: 45px;
    text-shadow:-1px 1px black;
    margin: 0;
    white-space: nowrap;
}

.bold-text-white.med-text{
    font-size: 30px;
}
